flows.json
[
    {
        "id": "374a865e2a2b4342",
        "type": "tab",
        "label": "IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ada73c138ecdb3f7",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "POST Pulso",
        "topic": "relojVital/post/xd58c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "69ea5115d7651a9a",
                "97f81549f7d0f898",
                "fc18bbef533627fb"
            ]
        ]
    },
    {
        "id": "69ea5115d7651a9a",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Insertar ritmo cardiaco",
        "func": "if (msg.topic == \"relojVital/post/xd58c\") {\n    msg.topic = \"INSERT INTO datoSensor(valor, fecha, fkSensor) VALUES (\" + msg.payload.valor + \", CURDATE(), 1)\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "a1b71814d20d38c7"
            ]
        ]
    },
    {
        "id": "97f81549f7d0f898",
        "type": "debug",
        "z": "374a865e2a2b4342",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valor",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "a1b71814d20d38c7",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 720,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a325641a5f91130b",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 500,
        "y": 620,
        "wires": [
            [
                "5a844f4c9c091134"
            ]
        ]
    },
    {
        "id": "5a844f4c9c091134",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Formatear Resultado",
        "func": "if (msg.payload[0]){\n    msg.payload = msg.payload[0].valor;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 620,
        "wires": [
            [
                "0884de728a518830",
                "24abbc83215afac7"
            ]
        ]
    },
    {
        "id": "24abbc83215afac7",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Resultado GET Pasos",
        "topic": "relojVital/resultado/get/mpu6050",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "0884de728a518830",
        "type": "debug",
        "z": "374a865e2a2b4342",
        "name": "Resultado SQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "1e7e3d1b30f08a34",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Obtener pasos",
        "func": "msg.topic = \"SELECT valor FROM datoSensor WHERE fecha = CURDATE() and fkSensor = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "a325641a5f91130b"
            ]
        ]
    },
    {
        "id": "b14f86835cacca69",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Pasos Día",
        "topic": "relojVital/get/mpu6050",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "1e7e3d1b30f08a34"
            ]
        ]
    },
    {
        "id": "db20664863bea9cd",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Resultado POST Pulso",
        "topic": "relojVital/resultado/post/xd58c",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "fc18bbef533627fb",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Formatear Resultado",
        "func": "if (msg.payload){\n    msg.payload = msg.payload.valor;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "db20664863bea9cd"
            ]
        ]
    },
    {
        "id": "40a1dccfbba31ef8",
        "type": "comment",
        "z": "374a865e2a2b4342",
        "name": "Históricos",
        "info": "Según yo, ya están los históricos",
        "x": 960,
        "y": 920,
        "wires": []
    },
    {
        "id": "5cf2af63d95d2ea8",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Resultado GET Usuario",
        "topic": "relojVital/resultado/get/usuario",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 930,
        "y": 740,
        "wires": []
    },
    {
        "id": "556dc01fbe53080c",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Formatear Resultado",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    var user = msg.payload[0];\n    msg.payload = {\n        nombre: user.nombre,\n        estatura: user.estatura,\n        peso: user.peso,\n        meta: user.meta,\n        registrado: true\n    };\n} else {\n    msg.payload = { registrado: false };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 740,
        "wires": [
            [
                "5cf2af63d95d2ea8"
            ]
        ]
    },
    {
        "id": "ede2b18cdc84f33f",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 520,
        "y": 740,
        "wires": [
            [
                "556dc01fbe53080c"
            ]
        ]
    },
    {
        "id": "ead16642e962cead",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Preparar Consulta SQL",
        "func": "msg.topic = `SELECT nombre, estatura, peso, meta FROM usuario LIMIT 1`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 740,
        "wires": [
            [
                "ede2b18cdc84f33f"
            ]
        ]
    },
    {
        "id": "865b8f573af73223",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Usuario",
        "topic": "relojVital/get/usuario",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "ead16642e962cead"
            ]
        ]
    },
    {
        "id": "a3de057a7121bcf8",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "POST Usuario",
        "topic": "relojVital/post/usuario",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 820,
        "wires": [
            [
                "4b61c3c72f7123cf"
            ]
        ]
    },
    {
        "id": "4b61c3c72f7123cf",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Verificar Existencia",
        "func": "msg.nombre = msg.payload.nombre;\nmsg.sexo = msg.payload.sexo;\nmsg.estatura = msg.payload.estatura;\nmsg.peso = msg.payload.peso;\nmsg.meta = msg.payload.meta;\nmsg.topic = \"SELECT id FROM usuario LIMIT 1\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 820,
        "wires": [
            [
                "b6d014b54f5948ce"
            ]
        ]
    },
    {
        "id": "b6d014b54f5948ce",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 460,
        "y": 820,
        "wires": [
            [
                "80cd453ca62d5fd0"
            ]
        ]
    },
    {
        "id": "80cd453ca62d5fd0",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Actualizar o Insertar",
        "func": "if (msg.payload.length > 0) {\n    // Actualizar el usuario\n    msg.topic = `UPDATE usuario SET nombre='${msg.nombre}', sexo='${msg.sexo}', estatura=${msg.estatura}, peso=${msg.peso}, meta=${msg.meta} WHERE id=${msg.payload[0].id}`;\n} else {\n    // Insertar nuevo usuario\n    msg.topic = `INSERT INTO usuario (nombre, sexo, estatura, peso, meta) VALUES ('${msg.nombre}', '${msg.sexo}', ${msg.estatura}, ${msg.peso}, ${msg.meta})`;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 820,
        "wires": [
            [
                "dd94291afb2eca3b"
            ]
        ]
    },
    {
        "id": "dd94291afb2eca3b",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "ead16642e962cead"
            ]
        ]
    },
    {
        "id": "d575d1e0b90eb9f9",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Temperatura",
        "topic": "relojVital/get/dht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "79a6e10f779cd8e1"
            ]
        ]
    },
    {
        "id": "79a6e10f779cd8e1",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Formatear Resultado",
        "func": "if (msg.payload){\n    msg.payload = msg.payload.valor;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "985d1f907a08b99d"
            ]
        ]
    },
    {
        "id": "985d1f907a08b99d",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Resultado GET Temperatura",
        "topic": "relojVital/resultado/get/dht11",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "4dc99187517928dd",
        "type": "comment",
        "z": "374a865e2a2b4342",
        "name": "Usuario y pasos del día",
        "info": "Los pasos de día son de ayuda para el dispositivo y que cuando se apague no vuelva a empezar de 0.\nLo otro es para control y gestión del usuario",
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef03625b0c6cf3ec",
        "type": "comment",
        "z": "374a865e2a2b4342",
        "name": "Obtener valores al momento",
        "info": "Se obtienen los valores de los sensores en el momento",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "eb26c46dbe9ba8d5",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Promedio Diario XD58C",
        "topic": "relojVital/get/xd58c/diario",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "cdaa134a403e2757"
            ]
        ]
    },
    {
        "id": "cdaa134a403e2757",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Consulta Promedio Diario",
        "func": "msg.topic = `SELECT fecha, ROUND(AVG(valor), 0) AS promedio FROM datoSensor WHERE fkSensor = 1 AND MONTH(fecha) = MONTH(CURDATE()) AND YEAR(fecha) = YEAR(CURDATE()) GROUP BY fecha`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "9df8c8679ba60525"
            ]
        ]
    },
    {
        "id": "9df8c8679ba60525",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "f014f88b02762d49",
                "df6e0b23af93d04c"
            ]
        ]
    },
    {
        "id": "f014f88b02762d49",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Obtener Promedio cardiaco por día",
        "topic": "relojVital/respuesta/xd58c/diario",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 960,
        "y": 1060,
        "wires": []
    },
    {
        "id": "df6e0b23af93d04c",
        "type": "debug",
        "z": "374a865e2a2b4342",
        "name": "Mostrar promedio de pulsos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 980,
        "wires": []
    },
    {
        "id": "60089c55355c683f",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Calorías Diarias",
        "topic": "relojVital/get/mpu6050/diario",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "d5fc5960a80f68ed"
            ]
        ]
    },
    {
        "id": "d5fc5960a80f68ed",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Consulta Datos Diarios",
        "func": "msg.topic = `SELECT d.fecha, ROUND(AVG(u.peso * 0.49 * d.valor / 1000), 0) AS calorias FROM datoSensor d, (SELECT peso FROM usuario LIMIT 1) u WHERE d.fkSensor = 2 AND MONTH(d.fecha) = MONTH(CURDATE()) AND YEAR(d.fecha) = YEAR(CURDATE()) GROUP BY d.fecha ORDER BY d.fecha;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "d1e91cd039e7d3ca"
            ]
        ]
    },
    {
        "id": "d1e91cd039e7d3ca",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 700,
        "y": 1160,
        "wires": [
            [
                "f6eb6743d3781276",
                "b88a7408016164c7"
            ]
        ]
    },
    {
        "id": "f6eb6743d3781276",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Obtener calorías por día",
        "topic": "relojVital/respuesta/mpu6050/diario",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 930,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b88a7408016164c7",
        "type": "debug",
        "z": "374a865e2a2b4342",
        "name": "Resultado pasos diarios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fa3bc55dac78e78c",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Promedio Mensual XD58C",
        "topic": "relojVital/get/xd58c/mensual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "42e06020251b2f72"
            ]
        ]
    },
    {
        "id": "42e06020251b2f72",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Consulta Promedio Mensual",
        "func": "msg.topic = `SELECT CONCAT(YEAR(fecha), '-', MONTH(fecha)) AS mes, ROUND(AVG(valor), 0) AS promedio FROM datoSensor WHERE fkSensor = 1 GROUP BY YEAR(fecha), MONTH(fecha)`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1260,
        "wires": [
            [
                "ad477d223b5c7839"
            ]
        ]
    },
    {
        "id": "ad477d223b5c7839",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 730,
        "y": 1260,
        "wires": [
            [
                "b3e3d6caa0d992d0"
            ]
        ]
    },
    {
        "id": "b3e3d6caa0d992d0",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Publicar Promedio Mensual",
        "topic": "relojVital/respuesta/xd58c/mensual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 970,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e569f685218bc6f7",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "GET Promedio Mensual MPU6050",
        "topic": "relojVital/get/mpu6050/mensual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1320,
        "wires": [
            [
                "94367654a1df1718"
            ]
        ]
    },
    {
        "id": "94367654a1df1718",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Consulta Suma Calorías Mensual",
        "func": "msg.topic = `SELECT DATE_FORMAT(d.fecha, '%M %Y') AS mes, ROUND(SUM((u.peso *  0.49) * (d.valor/1000)), 0) as calorias FROM datoSensor d, (SELECT estatura, peso FROM usuario LIMIT 1) u WHERE d.fkSensor = 2 GROUP BY YEAR(d.fecha), MONTH(d.fecha);`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "079072fb10b9551f"
            ]
        ]
    },
    {
        "id": "079072fb10b9551f",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "9bdb7f826aa547c1"
            ]
        ]
    },
    {
        "id": "9bdb7f826aa547c1",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Publicar Promedio Mensual",
        "topic": "relojVital/respuesta/mpu6050/mensual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 980,
        "y": 1320,
        "wires": []
    },
    {
        "id": "03f4b30b7f73c290",
        "type": "mqtt in",
        "z": "374a865e2a2b4342",
        "name": "POST Pasos",
        "topic": "relojVital/post/mpu6050",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "7021a042fdcdaedf",
                "19dec579414e1b65"
            ]
        ]
    },
    {
        "id": "7021a042fdcdaedf",
        "type": "debug",
        "z": "374a865e2a2b4342",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valor",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "19dec579414e1b65",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Verificar Existencia",
        "func": "if (msg.topic == \"relojVital/post/mpu6050\") {\n    msg.valor = msg.payload.valor;\n    msg.topic = \"SELECT COUNT(*) AS count FROM datoSensor WHERE fecha = CURDATE() AND fkSensor = 2\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "ba0b4c3e52bde37d"
            ]
        ]
    },
    {
        "id": "ba0b4c3e52bde37d",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "d7b692e57595d108"
            ]
        ]
    },
    {
        "id": "d7b692e57595d108",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Actualizar o Insertar",
        "func": "if (msg.payload && msg.payload[0]) {\n    var valor = msg.valor; // Usa la variable asignada\n\n    if (msg.payload[0].count > 0) {\n        // Hay un registro, preparar actualización\n        if (valor !== undefined) {\n            msg.topic = \"UPDATE datoSensor SET valor = \" + valor + \" WHERE fecha = CURDATE() AND fkSensor = 2\";\n        } else {\n            node.error(\"Valor no definido para actualización.\");\n            return null;\n        }\n    } else {\n        // No hay registro, preparar inserción\n        if (valor !== undefined) {\n            msg.topic = \"INSERT INTO datoSensor(valor, fecha, fkSensor) VALUES (\" + valor + \", CURDATE(), 2)\";\n        } else {\n            node.error(\"Valor no definido para inserción.\");\n            return null;\n        }\n    }\n} else {\n    node.error(\"Datos del payload no disponibles.\");\n    return null;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "9973507fd82fab5e"
            ]
        ]
    },
    {
        "id": "9973507fd82fab5e",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 920,
        "y": 300,
        "wires": [
            [
                "4c56cd9910db4319"
            ]
        ]
    },
    {
        "id": "bcf5463b840a3c05",
        "type": "mqtt out",
        "z": "374a865e2a2b4342",
        "name": "Resultado POST Pasos",
        "topic": "relojVital/resultado/post/mpu6050",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 1610,
        "y": 300,
        "wires": []
    },
    {
        "id": "4c56cd9910db4319",
        "type": "function",
        "z": "374a865e2a2b4342",
        "name": "Obtener calorías, distancia, pasos",
        "func": "msg.topic = \"SELECT d.valor as pasos, ROUND((u.peso * 0.49 * d.valor / 1000), 0) AS calorias, ROUND((d.valor * ((u.estatura * 0.38) / 100000)), 2) AS distancia FROM datoSensor d, (SELECT peso, estatura FROM usuario LIMIT 1) u WHERE d.fkSensor = 2 AND d.fecha = CURDATE(); \"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "ed31f56fe8907098"
            ]
        ]
    },
    {
        "id": "ed31f56fe8907098",
        "type": "mysql",
        "z": "374a865e2a2b4342",
        "mydb": "mysql_connection",
        "name": "",
        "x": 1400,
        "y": 300,
        "wires": [
            [
                "bcf5463b840a3c05"
            ]
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker EMXQ",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mysql_connection",
        "type": "MySQLdatabase",
        "name": "RelojVital",
        "host": "sql5.freesqldatabase.com",
        "port": "3306",
        "db": "sql5726179",
        "tz": "",
        "charset": "UTF8"
    }
]