flows.json
[
    {
        "id": "c34a4b5033cfb97a",
        "type": "tab",
        "label": "IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "c34a4b5033cfb97a",
        "name": "POST Pulso",
        "topic": "relojVital/post/xd58c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "function",
                "d8319903615755c0",
                "4001f208dcb54b6c"
            ]
        ]
    },
    {
        "id": "function",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Insertar ritmo cardiaco",
        "func": "if (msg.topic == \"relojVital/post/xd58c\") {\n    msg.topic = \"INSERT INTO datoSensor(valor, fecha, fkSensor) VALUES (\" + msg.payload.valor + \", CURDATE(), 1)\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "e2796a19347f092c"
            ]
        ]
    },
    {
        "id": "d8319903615755c0",
        "type": "debug",
        "z": "c34a4b5033cfb97a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valor",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "05c059d55b6139af",
        "type": "mqtt in",
        "z": "c34a4b5033cfb97a",
        "name": "POST Pasos",
        "topic": "relojVital/post/mpu6050",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "0772b8f1489ab5f9",
                "7fd0900786508f66",
                "4629633788fd26f4"
            ]
        ]
    },
    {
        "id": "e2796a19347f092c",
        "type": "mysql",
        "z": "c34a4b5033cfb97a",
        "mydb": "mysql_connection",
        "name": "",
        "x": 720,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0772b8f1489ab5f9",
        "type": "debug",
        "z": "c34a4b5033cfb97a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.valor",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "a5189fde4411ad72",
        "type": "mysql",
        "z": "c34a4b5033cfb97a",
        "mydb": "mysql_connection",
        "name": "",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "e21cec1a79d01ac3"
            ]
        ]
    },
    {
        "id": "e21cec1a79d01ac3",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Formatear Resultado",
        "func": "if (msg.payload[0]){\n    msg.payload = msg.payload[0].valor;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 480,
        "wires": [
            [
                "9e8bb91aeedd60a3",
                "08df339daeefdf2e"
            ]
        ]
    },
    {
        "id": "08df339daeefdf2e",
        "type": "mqtt out",
        "z": "c34a4b5033cfb97a",
        "name": "Publicar Resultado",
        "topic": "relojVital/resultado/get/mpu6050",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e8bb91aeedd60a3",
        "type": "debug",
        "z": "c34a4b5033cfb97a",
        "name": "Resultado SQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "25b36bbe37b3c031",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Obtener pasos",
        "func": "msg.topic = \"SELECT valor FROM datoSensor WHERE fecha = CURDATE() and fkSensor = 2;\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "a5189fde4411ad72"
            ]
        ]
    },
    {
        "id": "b4d9cd2c9ac6e09f",
        "type": "mqtt in",
        "z": "c34a4b5033cfb97a",
        "name": "GET Pasos Día",
        "topic": "relojVital/get/mpu6050",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "25b36bbe37b3c031"
            ]
        ]
    },
    {
        "id": "7fd0900786508f66",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Verificar Existencia",
        "func": "if (msg.topic == \"relojVital/post/mpu6050\") {\n    msg.valor = msg.payload.valor;\n    msg.topic = \"SELECT COUNT(*) AS count FROM datoSensor WHERE fecha = CURDATE() AND fkSensor = 2\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "3cb7e264d90a31ce"
            ]
        ]
    },
    {
        "id": "3cb7e264d90a31ce",
        "type": "mysql",
        "z": "c34a4b5033cfb97a",
        "mydb": "mysql_connection",
        "name": "",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "23daa089baac6017"
            ]
        ]
    },
    {
        "id": "23daa089baac6017",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Actualizar o Insertar",
        "func": "if (msg.payload && msg.payload[0]) {\n    var valor = msg.valor; // Usa la variable asignada\n\n    if (msg.payload[0].count > 0) {\n        // Hay un registro, preparar actualización\n        if (valor !== undefined) {\n            msg.topic = \"UPDATE datoSensor SET valor = \" + valor + \" WHERE fecha = CURDATE() AND fkSensor = 2\";\n        } else {\n            node.error(\"Valor no definido para actualización.\");\n            return null;\n        }\n    } else {\n        // No hay registro, preparar inserción\n        if (valor !== undefined) {\n            msg.topic = \"INSERT INTO datoSensor(valor, fecha, fkSensor) VALUES (\" + valor + \", CURDATE(), 2)\";\n        } else {\n            node.error(\"Valor no definido para inserción.\");\n            return null;\n        }\n    }\n} else {\n    node.error(\"Datos del payload no disponibles.\");\n    return null;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "77a99f330c68fbed"
            ]
        ]
    },
    {
        "id": "77a99f330c68fbed",
        "type": "mysql",
        "z": "c34a4b5033cfb97a",
        "mydb": "mysql_connection",
        "name": "",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ae8c546ccef5dcee",
        "type": "mqtt out",
        "z": "c34a4b5033cfb97a",
        "name": "Resultado POST Pulso",
        "topic": "relojVital/resultado/post/xd58c",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "4001f208dcb54b6c",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Formatear Resultado",
        "func": "if (msg.payload){\n    msg.payload = msg.payload.valor;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "ae8c546ccef5dcee"
            ]
        ]
    },
    {
        "id": "4629633788fd26f4",
        "type": "function",
        "z": "c34a4b5033cfb97a",
        "name": "Formatear Resultado",
        "func": "if (msg.payload){\n    msg.payload = msg.payload.valor;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "0c778b6792cfa5b9"
            ]
        ]
    },
    {
        "id": "0c778b6792cfa5b9",
        "type": "mqtt out",
        "z": "c34a4b5033cfb97a",
        "name": "Resultado POST Pasos",
        "topic": "relojVital/resultado/post/mpu6050",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker EMXQ",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mysql_connection",
        "type": "MySQLdatabase",
        "name": "RelojVital",
        "host": "sql5.freesqldatabase.com",
        "port": "3306",
        "db": "sql5726179",
        "tz": "",
        "charset": "UTF8"
    }
]